@import url("./card/statistics.css");
@import url("./card/notifications.css");
@import url("./card/reports.css");
@import url("./card/status.css");

div.dashboard div.card {
  background-color: var(--button-active-bg);
  width: 100%;
  border-radius: 0;
  padding: 0;
  position: relative;
  margin-top: 35px;
  border-top: var(--bg-border);
  border-bottom: var(--bg-border);
}

div.dashboard div.card:last-child {
  border-bottom: none;
}

div.dashboard div.card::before {
  content: "banana";
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -26px;
  left: 10px;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  height: fit-content;
  width: fit-content;
  display: block;
  color: var(--fg);
  opacity: 1;
}

div.dashboard div.card.statistics::before {
  content: "Statistics";
}

div.dashboard div.card.notifications::before {
  content: "Notifications";
}

div.dashboard div.card.latest-reports::before {
  content: "Open Reports";
}

div.dashboard div.card.statistics::before {
  content: "Statistics";
}
div.dashboard div.card.status::before {
  content: "Status";
}
