div.topbar div.controls {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0px;
}

div.topbar div.controls div.status-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

div.topbar div.controls div.status {
  display: block;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  border-radius: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: var(--button-bg);
  transition: all 0.3s, max-width 0.5s;
  gap: 10px;
  overflow: hidden;
  flex-direction: row-reverse;
}

div.topbar div.controls div.status:hover {
  display: flex;
  width: fit-content;
  max-width: 160px;
  padding-left: 10px;
}

div.topbar div.controls div.sep {
  width: 1px;
  height: 20px;
  background-color: var(--button-hover-bg);
  margin: 0 10px;
}

div.topbar div.controls div.status div.sep {
  background-color: currentColor;
  margin: 0;
  opacity: 0.2;
  min-width: 1px;
}

div.topbar div.controls div.status:not(.good) {
  background-color: var(--clr-red-bg);
  color: var(--clr-red-fg);
}

div.topbar div.controls div.status.good {
  background-color: var(--clr-green-bg);
  color: var(--clr-green-fg);
}
div.topbar div.controls div.status.meh {
  background-color: var(--clr-orange-bg);
  color: var(--clr-orange-fg);
}

div.topbar div.controls div.status span.material-icons-round {
  font-size: 18px;
}

div.topbar div.controls button.material-icons-round {
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--fg);
  border-left: var(--bg-border);
}

div.topbar div.controls button.material-icons-round:hover {
  background-color: var(--button-active-bg);
}

div.topbar div.controls button.material-icons-round.active {
  color: var(--clr-blue-fg) !important;
}
