@import url("./title/centered.css");

div.topbar p.title {
  margin: 0;
  border-radius: 0;
  padding: 0 10px;
  padding-right: 20px;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  font-size: 20px;
  line-height: 20px !important;
  align-items: center;
  gap: 10px;
}

div.topbar button.menu-toggle {
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  width: 40px;
  height: 40px !important;
  border-right: var(--bg-border);
  margin-right: 5px !important;
}

div.topbar p.title * {
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  height: fit-content;
}

div.topbar p.title img.icon {
  height: 14px;
  margin: 2px 0;
  margin-right: 5px;
}

div.topbar.big img.icon {
  height: 16px !important;
  margin: 0 !important;
  margin-right: 5px !important;
}

@media screen and (max-width: 1000px) {
  div.topbar p.title {
    padding-left: 0;
  }
}
