@import url("./title/centered.css");

div.topbar p.title {
  margin: 0;
  border-radius: 0;
  padding: 0 10px;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  font-size: 20px;
  line-height: 20px !important;
  align-items: center;
}

div.topbar p.title * {
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  height: fit-content;
}

div.topbar p.title img.icon {
  height: 14px;
  margin: 2px 0;
  margin-right: 5px;
}

div.topbar.big img.icon {
  height: 16px !important;
  margin: 0 !important;
  margin-right: 5px !important;
}
