div.dialog div.twopane {
  display: flex;
  align-items: top;
  gap: 10px;
}

div.dialog div.twopane img {
  height: 36px;
}

div.dialog div.twopane div.right h3.title {
  margin-top: 0;
}

div.dialog div.twopane div.right div.bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
