div.viewer div.panels div.leftpanel div.property.client {
  height: 64px;
  min-height: 64px;
  padding: 0 10px;
  align-items: start;
  overflow: hidden;
}

div.viewer div.panels div.leftpanel div.property.client .key {
  margin: 10px 0;
}

div.viewer div.panels div.leftpanel div.property.client .value {
  display: flex;
  gap: 25px;
}

div.viewer div.panels div.leftpanel div.property.client .value img {
  height: 20px;
}

div.viewer div.panels div.leftpanel div.property.client .value p.host {
  margin: 10px 0;
}

div.viewer div.panels div.leftpanel div.property.client .value div.flags {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  opacity: 1;
  border-left: var(--bg-border);
  height: 64px;
  padding: 10px 25px;
}

div.viewer
  div.panels
  div.leftpanel
  div.property.client
  .value
  div.flags
  div.flag {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 21px !important;
}

@media screen and (max-width: 1300px) {
  div.viewer div.panels div.leftpanel div.property.client {
    height: fit-content;
    min-height: 100px;
  }
  div.viewer div.panels div.leftpanel div.property.client .value {
    flex-direction: column;
    gap: 0;
  }

  div.viewer div.panels div.leftpanel div.property.client .value div.flags {
    border-left: none;
    padding: 5px 0;
  }
}
