div.reportlist div.row div.segment div.hidden {
  width: fit-content;
  height: 30px;
  color: var(--clr-yellow-fg);
  background-color: var(--clr-yellow-bg) !important;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

div.reportlist div.row div.segment div.hidden span.material-icons-round {
  font-size: 16px;
}

div.reportlist div.row div.segment div.hidden span:not(.material-icons-round) {
  display: none;
}
