div.reportview div.row div.segment div.hidden {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: var(--clr-yellow-fg);
  background-color: var(--button-glass-bg) !important;
  border-radius: 15px;
  text-align: center;
  gap: 10px;
  font-size: 18px;
}
