@import url("./segment/actions.css");

div.reportview div.row div.segment {
  --w: 15%;
  width: var(--w);
  max-width: var(--w);
  min-width: var(--w);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

div.reportview div.row div.segment.modeico {
  --w: 24px !important;
}

div.reportview div.row div.segment.modeico img {
  height: 24px;
}

div.reportview div.row div.segment.mleft {
  margin-left: auto;
}

div.reportview div.row div.segment.small {
  --w: 7.5%;
}

div.reportview div.row div.segment.grow {
  flex-grow: 1;
  --w: unset;
}

div.reportview div.row div.segment.sad {
  opacity: 0.4;
}

div.reportview div.row div.segment.self {
  color: var(--clr-aqua-fg);
}

div.reportview div.row div.segment.mono {
  font-family: "Source Code Pro", monospace;
}

div.reportview div.row div.segment.icon {
  --w: 48px;
  gap: 10px;
  margin-right: 10px;
}

div.reportview div.row div.segment.icon img {
  height: 20px;
}

div.reportview div.row div.segment.ts-desktop {
  display: block;
}

div.reportview div.row div.segment.ts-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  div.reportview div.row div.segment.ts-desktop {
    display: none;
  }

  div.reportview div.row div.segment.ts-mobile {
    display: block;
  }
}

/* 
@media screen and (max-width: 1000px) {
  div.reportview div.row div.segment:not(.small) {
    /* min-width: 100px; 
  }
}
 */
