@import url("./row/header.css");
@import url("./row/segment.css");
@import url("./row/hidden.css");
div.reportlist div.row {
  display: flex;
  width: 100%;
  gap: 5px;
  height: 30px;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
}

div.reportlist div.row.solved:hover,
div.reportlist div.row.closed:hover {
  filter: brightness(125%);
}

div.reportlist div.row:not(.closed):not(.solved):hover {
  background-color: var(--button-glass-bg);
}

div.reportlist div.row:active {
  opacity: 0.5;
}

div.reportlist div.row.solved {
  background-color: var(--clr-green-bg);
  color: var(--clr-green-fg);
}

div.reportlist div.row.closed:not(.solved) {
  font-style: italic;
  background-color: var(--clr-red-bg);
  color: var(--clr-red-fg);
}
