@import url("./row/header.css");
@import url("./row/segment.css");
@import url("./row/hidden.css");
div.reportlist div.row {
  display: flex;
  width: 100%;
  gap: 5px;
  height: 50px !important;
  min-height: 50px !important;
  align-items: center;
  padding: 0 10px;
  border-radius: 0;
  border-bottom: var(--button-glass-bg) 1px solid;
}

div.reportlist div.row.solved:hover,
div.reportlist div.row.closed:hover {
  filter: brightness(125%);
}

div.reportlist div.row:not(.closed):not(.solved):hover {
  background-color: var(--button-glass-bg);
}

div.reportlist div.row:active {
  opacity: 0.5;
}

div.reportlist div.row.solved {
  color: var(--clr-green-fg);
}

div.reportlist div.row.closed:not(.solved) {
  color: var(--clr-orange-fg);
}
