div.card.notifications {
  flex-grow: 1;
  height: calc(100% - 164px - 35px - 35px);
}

div.card.notifications div.notif-wrapper {
  height: 100%;
  overflow-y: scroll;
}

div.card.notifications div.notif-wrapper p.none {
  text-align: center;
  opacity: 0.5;
  font-style: italic;
  margin: 5px;
}

div.card.notifications div.notif-wrapper div.notification {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: var(--bg-border);
  padding: 15px;
}

div.card.notifications div.notif-wrapper div.notification h1 {
  margin: 0;
  font-size: 18px;
  width: 100%;
  display: flex;
}

div.card.notifications div.notif-wrapper div.notification h1 span {
  margin-right: auto;
  font-size: 20px;
}

div.card.notifications div.notif-wrapper div.notification h1 button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  min-width: unset;
  font-size: 20px;
}

div.card.notifications div.notif-wrapper div.notification p {
  margin: 5px 0;
}
