div.card.status {
  display: grid;
  grid-template-columns: repeat(5, auto);
  min-height: 100px;
  height: 100px !important;
  padding: 20px 25px !important;
  align-items: center;
  gap: 20px 0;
}

div.card.status div.status {
  position: relative;
  height: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

div.card.status div.status::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 0;
  background-color: #f0f;
}

div.card.status div.status.good::before {
  background-color: var(--clr-green-fg);
}

div.card.status div.status.error::before {
  background-color: var(--clr-red-fg);
}

div.card.status div.status.warn::before {
  background-color: var(--clr-orange-fg);
}

@media screen and (max-width: 800px) {
  div.card.status {
    grid-template-columns: repeat(2, auto);
    min-height: 220px;
    max-height: unset !important;
  }
}
@media screen and (max-width: 1000px) {
  div.card.status {
    border-bottom: var(--bg-border) !important;
  }
}
