@import url("./dashboard/card.css");

div.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
}

div.dashboard > div {
  padding: 0;
  padding-right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%;
}

div.dashboard > div.right {
  width: 400px;
  border-left: var(--bg-border);
}

div.dashboard > div.left {
  width: calc(100% - 400px);
}

@media screen and (max-width: 1000px) {
  div.dashboard {
    flex-direction: column;
  }

  div.dashboard > div.left,
  div.dashboard > div.right {
    width: 100%;
    padding: 0;
    height: fit-content;
  }

  div.dashboard > div.right {
    border-left: none;
  }
}
