div.reportview.groups {
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 100%;
  overflow-y: scroll;
}

div.reportview.groups div.reportgroup {
  height: 50px;
  overflow: hidden;
}

div.reportview.groups div.reportgroup.expanded {
  height: fit-content;
}

div.reportview.groups div.reportgroup button.expander {
  height: 50px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border-bottom: var(--button-glass-bg) 1px solid;
  border-radius: 0;
  display: flex;
  align-items: center;
}

div.reportview.groups div.reportgroup button.expander::after {
  content: "chevron_right";
  font-family: "Material Icons Round";
  margin-left: auto;
  opacity: 0.5;
}
