@import url("./reportgroups/groupheader.css");

div.reportview.groups {
  flex-direction: column;
  gap: 0px;
  height: 100%;
  overflow-y: scroll;
}

div.reportview.groups button.reportgroup {
  overflow: hidden;
  height: 50px;
  width: calc(100% - 20px);
  text-align: left;
  background-color: var(--button-active-bg);
  border-radius: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0 10px;
  gap: 15px;
}

div.reportview.groups button.reportgroup:not(:last-child) {
  border-bottom: var(--button-glass-bg) 1px solid;
}

div.reportview.groups button.reportgroup span.material-icons-round {
  font-size: 20px;
}

div.reportview.groups div.row.head {
  border-bottom: none;
}

div.reportview.groups button.reportgroup:active {
  scale: unset !important;
}
div.reportview.groups button.reportgroup::after {
  content: "chevron_right";
  font-family: "Material Icons Round";
  margin-left: auto;
  opacity: 0.7;
  font-size: 20px;
  transition: all 0.3s;
}
