@import url("./reportgroups/groupheader.css");

div.reportview.groups {
  flex-direction: column;
  gap: 0px;
  height: 100%;
  overflow-y: scroll;
}

div.reportview.groups div.reportview.list {
  height: calc(100% - 40px);
}

div.reportview.groups button.reportgroup {
  overflow: hidden;
  height: 35px;
  width: calc(100%);
  text-align: left;
  background-color: var(--button-active-bg);
  border-radius: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0;
  gap: 15px;
}

div.reportview.groups button.reportgroup:not(:last-child) {
  border-bottom: var(--button-glass-bg) 1px solid;
}

div.reportview.groups button.reportgroup span.material-icons-round {
  font-size: 16px;
}

div.reportview.groups button.reportgroup span:not(.material-icons-round) {
  max-width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.reportview.groups div.row.head {
  border-bottom: none;
}

div.reportview.groups button.reportgroup:active {
  scale: unset !important;
}

div.reportview.groups button.reportgroup div.count {
  margin-left: auto;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  margin-right: 5px;
  opacity: 0.5;
}
div.reportview.groups button.reportgroup::after {
  content: "chevron_right";
  font-family: "Material Icons Round";
  opacity: 0.7;
  font-size: 20px;
  transition: all 0.3s;
}
