@import url("./reportlist/row.css");

div.reportview.list {
  /* display: flex; */
  flex-direction: column;
  gap: 0px;
  flex-grow: 1;
  overflow-y: scroll;
}

div.card.latest-reports:not(.groupView) div.reportview {
  height: 100%;
}

@media screen and (max-width: 1000px) {
  div.reportview.list {
    max-height: 100%;
  }
}
