@import url("./topbar/controls.css");
@import url("./topbar/title.css");
@import url("./topbar/left.css");

div.topbar div.controls button:active {
  opacity: 0.2;
}

div.topbar {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0px;
  padding-right: 10px;
  display: flex;
  z-index: 100;
  background-color: var(--bg);
  border-bottom: var(--bg-border);
  font-size: 16px;
}

div.topbar * {
  vertical-align: middle;
}
