@import url("./topbar/controls.css");
@import url("./topbar/title.css");
@import url("./topbar/left.css");
@import url("./topbar/live.css");

div.topbar div.controls button:active {
  opacity: 0.2;
}

div.topbar {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  padding-left: 5px;
  display: flex;
  z-index: 100;
  background-color: var(--bg);
  border-bottom: var(--bg-border);
  font-size: 16px;
}

div.topbar * {
  vertical-align: middle;
}

@media screen and (max-width: 1000px) {
  div.topbar {
    padding-left: 0;
  }
}
