@import url("./header/actions.css");

div.viewer div.viewer-header {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  height: 40px;
  border-bottom: var(--bg-border);
  background-color: var(--bg);
  padding: 0;
  padding-left: 10px;
  overflow: hidden;
}

div.viewer div.viewer-header > span {
  display: flex;
  align-items: center;
  gap: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-grow: 1;
}

div.viewer div.viewer-header div.title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

div.viewer div.viewer-header div.title img {
  height: 20px;
}

div.viewer div.viewer-header div.title div.icon {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

div.viewer div.viewer-header div.id {
  opacity: 0.5;
  font-size: 13px;
  font-family: "Source Code Pro", monospace;
  margin-left: 10px;
}

div.viewer div.viewer-header button.material-icons-round {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  background-color: transparent;
  border-left: var(--bg-border);
  min-width: 40px;
}

div.viewer div.viewer-header button.material-icons-round:nth-child(3) {
  margin-left: auto;
}

@media screen and (max-width: 1100px) {
  div.viewer div.viewer-header {
    flex-direction: column;
    min-height: 80px;
    padding: 0;
    gap: 0;
  }
  div.viewer div.viewer-header div.id {
    display: none;
  }

  div.viewer div.viewer-header > span {
    width: 100%;
    height: 40px;
    padding-left: 10px;
  }

  div.viewer div.viewer-header div.title {
    max-width: 50%;
    overflow: hidden;
  }

  div.viewer div.viewer-header span div.segment {
    display: none !important;
  }

  div.viewer div.viewer-header div.actions {
    margin-left: unset;
    width: 100%;
    border-top: var(--bg-border);
  }

  div.viewer div.viewer-header div.actions button {
    width: 25%;
  }

  div.viewer div.viewer-header div.actions button:first-child {
    border-left: none;
  }
}
