@import url("./panels/left.css");
@import url("./panels/right.css");

div.viewer div.panels {
  display: flex;
  height: calc(100% - 40px);
}

div.viewer div.panels > div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--button-active-bg);
}

div.viewer div.panels > div > * {
  border-bottom: var(--bg-border);
}

div.viewer div.panels > div:first-child {
  border-right: var(--bg-border);
}

div.viewer div.panels textarea {
  width: 100%;
  height: 100%;
  resize: none !important;
  background-color: inherit;
  color: var(--fg);
  padding: 10px;
  font-family: "Source Code Pro", monospace;
  border: none;
}

@media screen and (max-width: 1200px) {
  div.viewer div.panels {
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  div.viewer div.panels > div {
    border-right: none !important;
    width: 100%;
    height: fit-content !important;
    min-height: fit-content !important;
  }
}
